apiVersion: apps/v1
kind: Deployment
metadata:
  name:  myapp-backend
  labels:
    app: registerapp-backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: registerapp-backend
  template:
    metadata:
      labels:
        app: registerapp-backend
    spec:
      containers:
      - name: backend
        image: 264570364318.dkr.ecr.ap-south-1.amazonaws.com/register-backend:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 8080 # backend port
        env:
        - name: SPRING_DATASOURCE_URL
          value: jdbc:mysql://myapp-mysql-0.mysql:3306/userdb # mysql stateful set pod dns name <jdbc:mysql://sqlpodname.sqlsvcname:port/databasename>
        - name: SPRING_DATASOURCE_USERNAME
          value: root
        - name: SPRING_DATASOURCE_PASSWORD
          valueFrom:
            secretKeyRef:
              name: mysql-secret # secret name from secret.yml
              key: mysql-root-password # secret key from secret.yml
