apiVersion: v1
kind: Service
metadata:
  name: my-backend-service # backend service name
  namespace: my3tier # namespace where backend application is deployed
  labels:
    app: registerapp-backend # must match deployment template labels. Used by ServiceMonitor to discover this service as a target for monitoring
spec:
  type: ClusterIP
  selector:
    app: registerapp-backend # must match pod labels from deployment template
  ports:
    - name: http # service port name used by ServiceMonitor
      protocol: TCP
      port: 8002 # service port used by other pods inside cluster
      targetPort: 8080 # container port exposed by backend pod